USER_SERVICE_URL=user-service:50051
IMAGE_SERVICE_URL=image-service:50052 (if you need to run this service locally on windows, do {hostip:50052})
FRONTEND_URL=frontend:3000
VITE_GATEWAY_URL=gateway:8080